<h3>Create new contact</h3>
<h4>Hello New Contact, How are you Today?</h4>

<!-- Tip: [] always shows that something is flowing to this template or element -->
<form [ngFormModel]="myForm" (ngSubmit)="onAddContact(myForm.value)" novalidate> <!-- myForms holds ref. to our ngForm -->
    <table  style="border: 0px">
      <tr>
        <td>First Name</td>
        <td><input type="text" placeholder="First Name"
          [ngFormControl] = "myForm.controls['firstname']"
          #firstName="ngForm"/>
          <span [hidden]="firstName.valid">Not Valid</span>
        </td>
        <!-- adding ngControl , will add that textBox to ngForm and it will participate in ngForm -->
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" placeholder="Last Name"
          [ngFormControl] ="myForm.controls['lastname']"
          #lastName="ngForm"/>
          <span [hidden]="lastName.valid">Not Valid</span>
        </td>
      </tr>
      <tr>
        <td>email Address</td>
        <td><input type="text" placeholder="EMail Address"
          [ngFormControl] = "myForm.controls['email']" />
        </td>
      </tr>
      <tr>
        <td style.colspan="2">
          <button type="submit" [disabled]="!myForm.valid">Save Contact</button>
        </td>
      </tr>
    </table>
    <br />
    <table style="border: 1px solid black;">
      <tr>
        <td>Field</td>
        <td>ng-touched</td>
        <td>ng-pristine</td>
        <td>ng-valid</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{firstName.touched}}</td>
        <td>{{firstName.pristine}}</td>
        <td>{{firstName.valid}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{lastName.touched}}</td>
        <td>{{lastName.pristine}}</td>
        <td>{{lastName.valid}}</td>
      </tr>
    </table>
</form>

<!--
ng-pristine
ng-invalid
ng-touched
-->
