body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
.main{
  width: 75%;
  margin: 32px auto;
}
ul{
  list-style: none;
  margin: 16px 0;
  padding: 0;
}
li {
  cursor: pointer;
  transition: padding 0.3s;
}
li:hover{
  padding-left: 8px;
  color:#233dcb;
  font-weight: bold;
  border-left: 3px solid #233dcb;
}
.clicked{
  color:#233dcb;
  font-weight: bold;
}
